@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        .bah{
            position: fixed;
            display: flex;
            right: 10vw;
        }
        .px-3{
            padding: 10vw;

        }
        
    
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        img, svg{
            width: 8vw;
            display: flex;
        }
        body{
            font-family:'Abril Fatface', cursive;
            background-image: url(../img/fundo1.gif);
        }
    
   
     